<!Doctype html>

<html>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <title >{% block title %} Home {% endblock %}</title>
    </br>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <link href="./static/assets/img/icons8-done.gif" rel="icon">


        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&family=Varela+Round&display=swap" rel="stylesheet">

        <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="./static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <link href="./static/assets/css/style.css" rel="stylesheet">
        
        

    </head>
    <body>

         <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->

        <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>

        <header id="header" class="d-flex flex-column justify-content-center">

            <nav id="navbar" class="navbar nav-menu">
              <ul>
                {%if user.is_authenticated%}
                <li><a href="/" class="nav-item nav-link " id="home"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="/logout" class="nav-item nav-link " id="logout"><i class="bx bx-user"></i> <span>Logout</span></a></li>
                {%else%}
                <li><a href="/login" class="nav-item nav-link " id="login"><i class="bx bx-file-blank"></i> <span>Login</span></a></li>
                <li><a href="/sign-up" class="nav-item nav-link " id="sign-up"><i class="bx bx-book-content"></i> <span>Sign up</span></a></li>
                {%endif%}
            </ul>
            </nav>
        </header>

        {%with messages = get_flashed_messages(with_categories = true)%}
        {%if messages%}
        {%for category, message in messages%}
        {%if category =="error"%} 
        <div class = "alert alert-danger alert-dimissable fade show" role = "alert">
            {{message}}
            <button type ="button" class = "close" data-dismiss = "alert">
                <span aria-hidden="true">&times;</span>
            </buttont>
        </div>
        {%else%}
        <div class = "alert alert-success alert-dimissable fade show" role = "alert">
            {{message}}
            <button type ="button" class = "close" data-dismiss = "alert">
                <span aria-hidden="true">&times;</span>
            </buttont>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class = "container">
            {%block content%}
            {%endblock%}
        </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="./static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="./static/assets/vendor/aos/aos.js"></script>
    <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./static/assets/vendor/typed.js/typed.umd.js"></script>
    <script src="./static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="./static/assets/js/main.js"></script>
    

    <script type = "text/javascript"
    src = "{{url_for('static',filename = 'index.js')}}"
    ></script>

    
    {% block script %}  {% endblock %}

    </body>

</html>