{%extends "base.html"%}

{%block title%} Login {%endblock%}

{%block content%}
<div class="container">
<form method = "POST">
    <h2 align = "center">Login </h2>
    <div class = "form-group">
        <label for = "email">Email address</label>
        <input 
        type = "email" 
        class = "form-control" 
        id = "email" 
        name = "email" 
        placeholder="Enter email">
        <label for = "password">Password</label>
        <input 
        type = "password" 
        class = "form-control" 
        id = "password" 
        name = "password" 
        placeholder="Enter password">
        
    </div>
    <br/>
    <button type = "submit" class = "btn btn-primary">login</button>
</form>
</div>
{%endblock%}