{%extends "base.html"%}

{%block title%} Sign up {%endblock%}

{%block content%}

<form method = "POST">
    <h2 align = "center">sign-up</h2>
    <div class = "form-group">
        <label for = "email"><b>Email address</b></label>
        <input 
        type = "email" 
        class = "form-control" 
        id = "email" 
        name = "email" 
        placeholder="Enter email">
    </br>
        <label for = "firstName"><b>First Name</b></label>
        <input 
        type = "text" 
        class = "form-control" 
        id = "firstName" 
        name = "firstName" 
        placeholder="Enter Name">
    </br>
        <label for = "password1"><b>Password</b></label>
        <input 
        type = "password" 
        class = "form-control" 
        id = "password1" 
        name = "password1" 
        placeholder="Enter password">
    </br>
        <label for = "password2"><b>Re-Enter Password</b></label>
        <input 
        type = "password" 
        class = "form-control" 
        id = "password2" 
        name = "password2" 
        placeholder="Re-Enter password">
    </div>
    <br/>
    <button type = "submit" class = "btn btn-primary">Submit</button>
</form>
{%endblock%}